<h1>{{nome}}, {{idade}}</h1>

<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Valor R$</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Grupo</mat-label>
        <mat-select>
          <mat-option>
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button class="btn btn-primary"> Comprar </button>
    <button class="btn btn-primary"> Vender </button>
</form>

<app-acoes></app-acoes>
<app-fundos></app-fundos>
<app-criptos></app-criptos>