<h1>Cadastro de clientes</h1>
<h3>(somente gerentes)</h3>
<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="nomeCliente" name="nomeiaCliente">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Idade</mat-label>
        <input matInput [(ngModel)]="idadeCliente" name="idadeiaCliente">
    </mat-form-field>
    <button class="btn btn-primary" (click)="cadastraCliente()"> Cadastrar </button>
</form>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.idade }}</td>
        <td>R$ {{ cliente.saldo | number:'1.2':'br'}}</td>
      </tr>
    </tbody>
  </table>