<h1>Cadastro de ativos</h1>
<h3>(somente admins)</h3>
<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="nomeAtivo" name="nomeiaAtivo">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Grupo</mat-label>
        <mat-select [(ngModel)]="grupoSelecionado" name="selecionaGrupo">
          <mat-option *ngFor="let grupo of grupos" [value]="grupo.viewValue">
            {{grupo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button class="btn btn-primary" (click)="cadastraAtivo()"> Cadastrar </button>
</form>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ativo of ativos">
        <td>{{ ativo.nome }}</td>
        <td>{{ ativo.grupo }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="recuperaAtivos()">Refresh</button>